@import 'partials/base';

nav {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0 240px; /* moves items closer to the edges */
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;      /* the viewport height */
    margin: 0 auto;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center;     /* Center content horizontally */
    text-align: center;      /* Center text horizontally */
}