@import 'partials/base';

nav {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0 240px; /* moves items closer to the edges */
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;      /* the viewport height */
    margin: 0 auto;
}

/* Sidebar on the right */
.sidebar {
    display: flex;             /* Enable Flexbox for the sidebar */
    flex-direction: column;    /* Stack sidebar items vertically */
    background-color: white;   /* Set the sidebar background to white */
    width: 250px;              /* Set the width of the sidebar */
    height: 100%;              /* Full height of the container */
    padding: 20px;             /* Optional padding inside the sidebar */
  }