@import 'partials/base';

nav {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 0 240px; /* moves items closer to the edges */
  }

  .hero {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    height: 100vh;           /* Full viewport height */
    text-align: center;      /* Center the text inside */
  }
  